<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>

<title>Gift Card Details</title>
</head>
<body>
<div style="font-family:verdana; font-size:13px;">
Dear customer, 
Your trade in clubs for Order id(# <font th:text="${tradeinId}"></font>) is reviewed and the updated Trade In Gift amount values are below. Gift Certificate for the updated gift amount will be sent to your email.
<br/>
Your order details are
<br/>
<br/>
<table style="border:1px solid #660000;font-family:verdana;font-size:12px; border-collapse:collapse;">
<tr style="border:1px solid #660000;"><td style="border:1px solid #660000;">CLUB MANUFACTURER</td>
<td style="border:1px solid #660000;">CLUB NAME</td>
<td style="border:1px solid #660000;">INITIAL TRADEIN VALUE ($)</td>
<td style="border:1px solid #660000;">FINAL TRADEIN VALUE($)</td>
</tr>
<tr style="border:1px solid #660000;" th:each="tradeIn :${TradeInClubs}">
<td style="border:1px solid #660000;" th:text ="${tradeIn.clubMfr}">&nbsp;</td>
<td style="border:1px solid #660000;" th:text ="${tradeIn.clubName}"></td>
<td style="border:1px solid #660000;" th:text ="${tradeIn.initialgiftAmount}">$</td>
<td style="border:1px solid #660000;" th:text ="${tradeIn.finalGiftAmount}">$</td>
</tr>
</table>
<p>
Thanks,
<br/>
TGW Customer care.
</p>
</div>
</body>
</html>